<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<connectionStrings>
		<add name="myconn"
             connectionString="Data Source=DESKTOP-QL03HG5\SQLEXPRESS;Initial Catalog=POS;Integrated Security=true"
             providerName="System.Data.SqlClient"/>
		<add name="myconnGS"
             connectionString="Data Source=DESKTOP-QL03HG5\SQLEXPRESS;Initial Catalog=GeneralStorePOS;Integrated Security=true"
             providerName="System.Data.SqlClient"/>
		<add name="myconnHM"
             connectionString="Data Source=DESKTOP-QL03HG5\SQLEXPRESS;Initial Catalog=HotelManagementPOS;Integrated Security=true"
             providerName="System.Data.SqlClient"/>
	</connectionStrings>
	
</configuration>